<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img id="img-of-the-day">
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=8UyCDbK8qusnkAd2a7lN3CS1tq7jzRTiAo8aZj1Y';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
    <form action="@{/create}" method="POST" th:object="${comment}">
    <input type="hidden" name="id" th:field="*{id}">
        <div>
    <select th:field="*{point}">
        <option th:value="1" th:text="1">1 normal</option>
        <option th:value="2" th:text="2">2 very normal</option>
        <option th:value="3" th:text="3">3 good</option>
        <option th:value="4" th:text="4">4 great</option>
        <option th:value="5" th:text="5">5 so awesome</option>
    </select></div>
        <label>Author:</label>
        <div>
        <input type="text" name="author" th:field="*{author}">
        </div>
        <p>Feedback:</p>
        <div>
        <input type="textarea" name="feedback" th:field="*{feedback}">
        </div>

    </form>
</body>
</html>