<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img id="img-of-the-day">
<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=8UyCDbK8qusnkAd2a7lN3CS1tq7jzRTiAo8aZj1Y';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function() {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
    <form action="/comment/create" method="POST" th:object="${comment}">
    <input type="hidden" name="id" th:field="*{id}">
        <div>
    <select th:field="*{point}">
        <option value="1" >1 normal</option>
        <option value="2" >2 very normal</option>
        <option value="3" >3 good</option>
        <option value="4" >4 great</option>
        <option value="5" >5 so awesome</option>
    </select></div>
        <label>Author:</label>
        <div>
        <input type="text" name="author" th:field="*{author}">
        </div>
        <p>Feedback:</p>
        <div>
        <input type="textarea" name="feedback" th:field="*{feedback}">
        </div>
        <input type="hidden" name="numberLike" th:field="*{numberLike}">
        <input type="text" id="date" hidden th:field="*{date}">
        <script>
            var date = new Date();
            var currentDate = date.toISOString().slice(0,10);
            var currentTime = date.getHours() + ':' + date.getMinutes();
            document.getElementById('date').value = currentDate;
        </script>
        <input type="submit" value="comment">
    </form>
<table>
<tr>
    <th>Point</th>
    <th>View</th>
</tr>
<tr th:each="row : ${comments}">
    <td th:text="${row.getId()}"></td>
    <td th:text="${row.getPoint()}"></td>
    <td th:text="${row.getAuthor()}"></td>
    <td th:text="${row.getFeedback()}"></td>
    <td th:text="${row.getNumberLike()}"></td>
    <td th:text="${row.getDate()}"></td>
</tr>

</table>

</body>
</html>