<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3 th:text="#{customer.add}">Add Customer</h3>
<p>
    <a th:href="@{/customer/list}" th:text="#{customer.back}">
        Back to customer list
    </a>
</p>
<form th:action="@{/customer/saveCustomer}" th:object="${customerDTO}"
      method="POST">
    <input type="hidden" th:field="*{idCustomer}"/>
    <div>
        <label th:text="#{customer.name}">Name</label>
        <input type="text" th:field="*{nameCustomer}"/>
    </div>
    <div style="color: red" th:errors="*{nameCustomer}"> </div>
    <input type="submit" value="#{customer.save}"/>
</form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
