<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3 th:text="#{customer.editHeading}">Edit Customer</h3>
<p>
    <a th:href="@{/customer/list}" th:value="#{customer.back}">
        Back to customer list
    </a>
</p>
<div id="form">
    <button th:action="@{/customer/update}" th:object="${customerDTO}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{idCustomer}"/>
        <div>
            <label th:text="#{customer.name}">Name</label>
            <input type="text" th:field="*{nameCustomer}"/>
        </div>
        <div style="color: red" th:errors="*{nameCustomer}"> </div>
        <input type="submit" th:text="#{customer.save}"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
