<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/customer/list}">
        Back to customer list
    </a>
</p>
<div id="form">
        <input type="hidden" th:field="*{customer.idCustomer}"/>
        <div>
            <label>Name</label>
            <input type="text" readonly th:field="*{customer.nameCustomer}"/>
        </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
