<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Blog</h3>
<p>
    <a th:href="@{/blog/list}">
        Back to employee list
    </a>
</p>
<div id="form">
    <form th:action="@{saveBlog}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{idBlog}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{nameBlog}"/>
        </div>
        <div>
            <label>Note</label>
            <input type="text" th:field="*{noteBlog}"/>
        </div>
            <input type="date" hidden th:field="*{dateBlog}" value="0000-00-00" />
        <div>
            <label>Category</label>
            <select th:field="*{categoryOb}">
                <option th:each="cate : ${categoryList}"
                        th:value="${cate.idCategory}"
                        th:utext="${cate.nameCategory}"/>
            </select>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
