<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Blog</h3>
<p>
    <a th:href="@{/blog}">
        Back to employee list
    </a>
</p>
<div id="form">
    <form th:action="@{/save}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{idBlog}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{nameBlog}"/>
        </div>
        <div>
            <label>Note</label>
            <input type="text" th:field="*{noteBlog}"/>
        </div>
        <div>
            <label>Id Card</label>
            <input type="number" th:field="*{employeeIdCard}"/>
        </div>
        <div>
            <label>Salary</label>
            <input type="number" th:field="*{employeeSalary}"/>
        </div>
        <div>
            <label>Phone</label>
            <input type="text" th:field="*{employeePhone}"/>
        </div>
        <div>
            <label>Positon Name</label>
            <select th:field="*{position}">
                <option value=""> -- </option>
                <option th:each="position : ${positionList}"
                        th:value="${position.positionId}"
                        th:utext="${position.positionName}"/>
            </select>
        </div>

        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
