<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout ::head">
    <meta charset="UTF-8">
    <title>Blog List</title>
</head>
<link reel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<body>
<h3>Blog List</h3>
<p>
<a th:href="@{/blog/create}">
    Add new blog
</a>
    <form action="/blog/list">
    <input type="text" name="keyword">
    <input type="date" name="keyword2">
    <input type="date" name="keyword3">
    <button>Search</button>
</form>
</p>
<table id = "object_s">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Note</th>
        <th>Date</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${blogList}">
        <td th:text="${row.getIdBlog()}"></td>
        <td th:text="${row.getNameBlog()}"></td>
        <td th:text="${row.getNoteBlog()}"></td>
        <td th:text="${row.getDateBlog()}"></td>
        <td th:text="${row.categoryOb.getNameCategory()}"></td>
        <td><a th:href="@{/blog/{id}/edit(id=${row.getIdBlog()})}" class="btn btn-info">Edit</a></td>
        <td><a th:href="@{/blog/{id}/edit(id=${row.getIdBlog()})}" class="btn btn-danger">Delete</a></td>
        <td><a th:href="@{/blog/{id}/view(id=${row.getIdBlog()})}" class="btn btn-info">View</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/blog/list(page=${blogList.number-1},keyword=${keywordValue})}"
       th:if="${blogList.hasPrevious()}">Previous</a>
    <span th:text="${blogList.number+1}"></span> /
    <span th:text="${blogList.totalPages}"></span>
    <a
            th:href="@{/blog/list(page=${blogList.number+1},keyword=${keywordValue})}"
            th:if="${blogList.hasNext()}"
            >Next</a>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>